<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>BTCN02</title>
</head>

<body>

    <div class="container d-flex flex-column align-items-center">
        <h1>Bé tập tính</h1>
        <form class="w-100" method="POST" action="/">
            <div class="calc w-75 h-100 col-md-8 d-flex align-items-start justify-content-between ">

                <div class="input col-md-6">
                    <div class="row mb-1">
                        <label class="col-md-4" for="input-1">Số thứ nhất</label>
                        <input name="num1" class="input-1 col-md-8" type="text" value = <%= num1 %>>
                    </div>

                    <div class="row mb-1">
                        <label class="col-md-4" for="input-2">Số thứ hai</label>
                        <input name="num2" class="input-2 col-md-8" type="text" value = <%= num2 %>>
                    </div>

                    <div class="row mb-1">
                        <label class="col-md-4" for="input-3">Kết quả</label>
                        <input name="result" class="input-3 col-md-8" type="text" value = <%= result %>>
                    </div>

                </div>

                <div class="option col-md-4">

                    <div class="row w-100 mb-2 d-flex align-items-center">
                        <input name="calc" value="+" <%= calc=='+' ? 'checked' : '' %>
                        class="radio add col-md-1" type="radio">
                        <label class="col-md-3" for="add">Cộng</label>

                        <input name="calc" value="-" <%= calc=='-' ? 'checked' : '' %>
                        class="radio minus col-md-1" type="radio">
                        <label class="col-md-3" for="minus">Trừ</label>
                    </div>

                    <div class="row w-100 mb-2 d-flex align-items-center">
                        <input name="calc" value="*" <%= calc=='*' ? 'checked' : '' %>
                        class="radio mul col-md-1" type="radio">
                        <label class="col-md-3" for="mul">Nhân</label>

                        <input name="calc" value="/" <%= calc=='/' ? 'checked' : '' %>
                        class="radio div col-md-1" type="radio">
                        <label class="col-md-3" for="div">Chia</label>
                    </div>

                    <div class="row w-100 d-flex align-items-center">
                        <button class="calc-btn col-md-3">Tính</button>
                    </div>

                </div>

            </div>

            <div class="notification w-75 d-flex row">
                <label class="col-md-2 g-0" for="notify">Thông báo</label>
                <p class="w-80 col-md-10 notify g-0 text-danger"><%= notify %></p>
            </div>
        </form>
    </div>



    <!-- <script src="./index.js"></script> -->
</body>

</html>